

#header_1{
    text-align: center;
}


/* Temple images section */
.temples_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15px;
    border: 1px dashed blue;

}
.img_container{
    width: 300px; /* Defina a largura desejada */
    height: 300px; /* Defina a altura desejada */
}
.img_tunning{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}
/* End of the temple image section */

/* Footer section */
.img_footer{
    width: 15px;
    height: 15px;
}

#container_footer_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 1.5rem;
    background-color: cadetblue;
}

/* End of footer section */

main, footer, header{
    width: 50vw;
}
figcaption{
    text-align: center;
}

/* Navigation section */

nav {
	margin: 1rem auto;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: relative;
	top: 5px;
	left: 5px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}



.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
}




.stuff {
	margin: .5em;
	border: 5px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}
/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}


/* End of navigation section */
