

/* Navigation section */

/* General settings */
h1{
	color: wheat;
}

.active{
	background-color: black;
	box-shadow: 0 0 2px crimson;
}
.active::before {
	content: "📍";/* just a wayfinding symbol for the user */
}
.f_text{
	color: wheat;
}




/* Temple images section */
.temples_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border: 1px dashed blue;

}
.img_container{
    width: 350px; /* Defina a largura desejada */
    height: 350px; /* Defina a altura desejada */
	padding: 1rem;
}
.img_tunning{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}
.img_tunning:hover{
	box-shadow: 0 0 50px crimson;
}
figcaption{
    text-align: center;
}
/* End of the temple image section */

/* Footer section */
.img_footer{
    width: 15px;
    height: 15px;
}

#container_footer_1{
    display: flex;
	padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 1.5rem;
    background-color: rgb(66, 5, 99);
}

/* End of footer section */


/* large view navigation and images************************************/
@media (min-width: 37.5em) {
	h1 {
		padding-left: 10px;
		font-size: 2.5em;
		margin-left: 0;
	}
	
	h2 {
		font-size: 2em;
		text-align: center;
	}

	a{
		font-size: 1.2rem;
	}
	
	.main_1{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.div_main{
		width: 1280px;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.menu_type_1{
		display: flex;
		justify-content: space-between;
		align-items:center;
		background-color:rgb(66, 5, 99);
	
	}
	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
	}

	.navigation a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90px;
		height: 60px;
		text-decoration: none;
		color:wheat;
	}
	.navigation a:hover {
		background-color: #d8d0f4;
		color: #333;
		font-weight: 700;
	}
	/* End of navigation section */

	/* Begin of image section */
	.img_container{
		width: 400px; /* Defina a largura desejada */
		height: 400px; /* Defina a altura desejada */
		padding: 1rem;
	}
	/* End of image section */
}

