#m_1{
	display: grid;
	grid-template-columns: auto;
    justify-content: center;	
}
.m1_div{
	display: flex;
	flex-direction: column ;
	align-items: center;
    justify-content: space-around;
	width: 340px;
	background-color:var(--complementary-color);
	padding-top: 20px;
    padding-bottom: 10px;
	margin-bottom: 10px;
    border-radius: 10px;
    height: 370px;
    
}
.m1_div p{
    padding: 10px;
	font-size: small;
    text-align: justify;
    color: var(--main-font-color);
}
.m1_div button{
    font-weight: bold;
	background-color: var(--primary-color);
    color: var(--complementary-color);
    width: 10rem;
    height: 2rem;
}

.wf1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eae9e9;
    padding-bottom: 10px;
    margin-bottom: 20px;
    max-width: 340px;
}

.wf1 input[type = "checkbox"]{
    margin-right: 6px;
}

.wf1 input[ type = "submit"]{
    padding: .5rem;
    width: 96%;
    max-width: 340px;
    font-weight: bolder;
    background-color:#eaf0fa;
    margin: auto;

}

.wf1 select,
.wf1 label,
.wf1 textarea,
.wf1 input[type = "date"],
.wf1 input[type = "text"],
.wf1 input[type = "email"],
.wf1 input[type = "tel"],
.wf1 input[type = "checkbox"]
{
    display: block;
    padding: .5rem;
    color: black;
    width: 100%;
    max-width: 340px;
}
.wf1 input[type = "text"]:required{
    border-left: solid 8px red;
}
.wf1 input[type = "text"]:required:valid{
    border-left: solid 8px green;
}

.wf1 input[type = "email"]:required{
    border-left: solid 8px red;
}
.wf1 input[type = "email"]:required:valid{
    border-left: solid 8px green;
}

.wf1 select:required{
    border-left: solid 8px red;
}
.wf1 select:required:valid{
    border-left: solid 8px green;
}   

.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* large view navigation and images************************************/
@media (min-width: 500px) {
    #m_1{
		place-items: center;
		column-gap: 10px;
		grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );	
	}

	.img_container{
		width: auto;
	}

	.m1_div{
		width: 350px;
	}
}