.m_1{
	display: grid;
	grid-template-columns: auto;
    justify-content: center;	
}
.m1_div{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-around;
	width: 340px;
	background-color:var(--primary-color);
	padding-top: 20px;
    padding-bottom: 10px;
	margin-bottom: 10px;
    border-radius: 20px;
    height: 430px;
    
}
.m2_div{
    display: flex;
	flex-direction: column;
    align-items: flex-start;
    background-color:var(--primary-color);
    color: var(--complementary-color);
    width: 340px;
    height: 190px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-top: 10px;

}
.m1_div p,h3{
    padding: 10px;
	font-size:medium;
    text-align: justify;
    color: var(--complementary-color);
}

.m1_div button{
    font-weight: bold;
	background-color: var(--complementary-color);
    color: var(--main-font-color);
    width: 10rem;
    height: 2rem;
}

.wf1 {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.wf1 input[type = "checkbox"]{
    margin-right: 6px;
}

.wf1 input[ type = "submit"]{
    padding: .5rem;
    width: 98%;
    font-weight: bolder;
    background-color:#eaf0fa;
    margin: auto;

}

.wf1 select,
.wf1 label,
.wf1 textarea,
.wf1 input[type = "date"],
.wf1 input[type = "text"],
.wf1 input[type = "email"],
.wf1 input[type = "tel"]
{
    display: block;
    padding: .5rem;
    color: var(--complementary-color);
    width: 100%;

}
.wf1 input[type = "text"]:required{
    border-left: solid 8px red;
}
.wf1 input[type = "text"]:required:valid{
    border-left: solid 8px green;
}

.wf1 input[type = "email"]:required{
    border-left: solid 8px red;
}
.wf1 input[type = "email"]:required:valid{
    border-left: solid 8px green;
}
.wf1 textarea{
    height: 200px;
}
.wf1 textarea:required{
    border-left: solid 8px red;
}
.wf1 textarea:required:valid{
    border-left: solid 8px green;
}


.form1{
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
}

.nothuman{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 120px;
    padding-right: 10px;
}
.nothuman label{
   font-size:x-large;
}
.noopt{
    color: red;
    font-size: bolder;
}

#specialh2{
    text-align: left;
}



@media (min-width: 1200px) {
    
}

/* large view navigation and images************************************/
@media (min-width: 450px) {
    #m_1{
		place-items: center;
		column-gap: 10px;
		grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );	
	}

	.img_container{
		width: auto;
	}

	.m1_div{
		width: 370px;
	}

    .secondcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: auto;	
    }

    #specialh2{
        text-align: center;
    }

    .wf1{
        width: 370px;
        margin-right: 10px;
    }
   
}