* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: "Open Sans", system-ui;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


h1{
	color: var(--complementary-color);
}

h1 {
	font-size: 1.8rem;
	padding-left: 6px;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    padding: 10px;
}
h3{
    font-size: 1.1rem;
}
figcaption{
    text-align: center;
}
p{
    text-align: center;
}

/* Navigation section */

.active{
	background-color: black;
	box-shadow: 0 0 2px crimson;
}
.active::before {
	content: "📍";/* just a wayfinding symbol for the user */
}





/* End of footer section */


/* large view navigation and images************************************/
@media (min-width: 500px) {

	#menu {
		display: none; /* hide hamburger button */
	}

	.menu_type_1{
		display: flex;
		justify-content: space-between;
		align-items:center;
		background-color:rgb(66, 5, 99);
	
	}
	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
	}

	.navigation a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90px;
		height: 60px;
		text-decoration: none;
		color:wheat;
	}
	.navigation a:hover {
		background-color: #d8d0f4;
		color: #333;
		font-weight: 700;
	}


	.img_container{
		width: auto;
	}

}

