





/* End of footer section */


/* large view navigation and images************************************/
@media (min-width: 500px) {

	#hero{
		width: 100%;
		height: auto;
		display: block;
	}
	.active{
		border: 3px solid var(--secondary-color);
	}
	#menu {
		display: none; /* hide hamburger button */
	}

	.menu_type_1{
		display: flex;
		justify-content: space-between;
		align-items:center;
		background-color:var(--primary-color);
	
	}
	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
	}

	.navigation a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 140px;
		height: 60px;
		text-decoration: none;
		color:var(--complementary-color);
		background-color: var(--primary-color);
	}
	.navigation a:hover {
		background-color: var(--complementary-color);
		color: #333;
		font-weight: 700;
	}


	.img_container{
		width: auto;
	}

	.container{
		display: grid;
		grid-template-columns: 37vw 37vw 26vw;
	}
	.container div{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	.chunk1{
		grid-column: 1/2;		
	}
	.chunk2{
		grid-column: 2/3;
		padding-bottom: 20px;
	}
	.message{
		height: 100%;
	}
	
}
