:root {

    --primary-color:#003748; /* The primary color will be used for the background in the header and footer, as well as in some elements on the screen that need to be highlighted. */
    --secondary-color:yellowgreen;   /* It will be used for aesthetic purposes in borders, lines, highlights, bands and other possible decorative elements on the screen. */
    --complementary-color:rgb(252, 250, 232);/* It will be used for text in contrast with a primary color. */
    --background-color:rgb(218, 250, 230); /* It will be the website's background color (body). */
    --main-font-color: rgb(30, 32, 25); /* It will be used in all types of text, except when we need contrast with the main(primary) color  */
    --menu-not-select-color: white;
}

main{  
	background-color: var(--background-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: "Open Sans", system-ui;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1{
	color: var(--complementary-color);
	font-size: 1.8rem;
	padding-left: 6px;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    padding: 10px;
}

a{
    font-size: 1.2rem;
}

#hero{
    display: none;
}
/* Navigation section */

.active{
	background-color: var(--complementary-color);
}
.active::before {
	content: "📍";/* just a wayfinding symbol for the user */
}

.alegreya-h1 {
    /* <!-- The Alegreya font will be used for headings, titles and headers. --> */
    font-family: "Alegreya", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--complementary-color);
}
.alegreya-h2{
    /* <!-- The Alegreya font will be used for headings, titles and headers. --> */
    font-family: "Alegreya", serif;
    font-weight: 600;
    font-style: normal;
    color: var(--main-font-color);
}

.alegreya-sans-medium {
    /* The Alegreya font will be used for paraghaps and other texts. */
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--main-font-color);
}

.alegreya-sans-small {
    /* The Alegreya font will be used for paraghaps and other texts. */
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
    color: var(--complementary-color);
}

/* Header section */
/* small view navigation */

.navigation{
    display:none;
}

.menu_mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--primary-color);
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: relative;
    padding-right: 5px;

}

#menu::before {
    color: var(--complementary-color);
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display:flex;
    align-items: center;
    justify-content: center;
    color:var(--primary-color);
    text-decoration: none;
    height: 60px;
    border: 1px solid;
}
.open {
    display: block;
    background-color:var(--menu-not-select-color);
}

/* Footer section */
.img_footer{
    width: 15px;
    height: 15px;
}
.container_footer_1{
	width: 100%;
    display: flex;
	padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 1.8rem;
    background-color: rgb(66, 5, 99);
}

.container_footer_1 p{
	font-size: small;
}

.f-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-color);
    color: var(--complementary-color);
    height: 90px;
    padding: 20px;
}
.f-container p{
    font-size: small;
}
/* End of header section */


/* Main section */
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.home-main-picture{
    border-radius: 10px;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.message p{
    border:  1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
}

/* End of main section */