#m_1{
	display: grid;
	grid-template-columns: auto;
    justify-content: center;	
}
.m1_div{
	display: flex;
	flex-direction: column ;
	align-items: center;
	width: 340px;
	background-color:var(--complementary-color);
	padding-top: 20px;
	margin-bottom: 10px;
    border-radius: 8px;
    height: 460px;
    
}
.m1_div p{
    padding: 10px;
	font-size: small;
    text-align: justify;
    color: var(--main-font-color);
}
.m1_div span{
    font-weight: bold;
	color: var(--primary-color);
}


/* large view navigation and images************************************/
@media (min-width: 500px) {
    #m_1{
		place-items: center;
		column-gap: 10px;
		grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );	
	}

	.img_container{
		width: auto;
	}

	.m1_div{
		width: 350px;
	}
}