
.container {
	padding: 2em;
	max-width: 600px;
	border: 1px solid red;
  }
.pe-before::before {
	content: "Content injected by the ::before pseudo-element.";
	display: block;
	margin-bottom: 1em;
}
.t1::selection {
	background-color: #ccc;
	color: #888;
  }

p::first-letter {
	color: blue;
	font-weight: 900;
	font-size: 2em;
}

.test::first-line{
	font-weight:500;
	color: red;
}

input::placeholder {
	color: blue;
  }
  
p {
margin: 1em 0;
}
  
  
ul{
	padding-left: 2em;
	padding-top: 2em;
}

ul li::marker {
	content: "❤ ";
	color:blue;
}

