

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f8f8f8;
}

/* Formating navigation component */
.comp_nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    display:flex;
    width:auto; 
    border: 2px solid;
}