

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding-top: 10px;
    padding-bottom: 1px;
    height: 150px;
    background-color:gray;
}
.header-top-div{
    padding: 10px;
    color: white;
}

/* Formating navigation component */
.comp_nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    width:auto; 
    border: 2px solid;
    background-color: black;
}
.comp_nav_a{
    color: white;
}