
/* Navigation section */

/* General settings */


.active{
	background-color: black;
	box-shadow: 0 0 2px crimson;
}
.active::before {
	content: "📍";/* just a wayfinding symbol for the user */
}
.f_text{
	color: wheat;
}

/* Begin of image section */
.img_container{
	width: 300px; /* Defina a largura desejada */
	height: 300px; /* Defina a altura desejada */
	padding-bottom: 30px;
}
.img_tunning{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}
.img_tunning:hover{
	box-shadow: 0 0 50px crimson;
}

/* End of the temple image section */

/* Footer section */
.img_footer{
    width: 15px;
    height: 15px;
}

.container_footer_1{
    display: flex;
	padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 1.5rem;
    background-color: rgb(66, 5, 99);
}
.main_0{
	display: flex;
	justify-content: center;
	align-content: end;
}

.main_1{
	display: grid;
	column-gap: 20px;
}

/* End of footer section */
@media (min-width: 30em){
	.main_1{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr 1fr 1fr 1fr;
	}
	#head2{
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.img_container{
		width: 40vw; /* Defina a largura desejada */
		height: 40vw; /* Defina a altura desejada */
	}
}

/* large view navigation and images************************************/
@media (min-width: 45em) {
	h1 {
		font-size: 2.5rem;
	}
	
	h2 {
		font-size: 2rem;
	}

	a{
		font-size: 1.2rem;
	}
	
	.main_1{
	    display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto 1fr 1fr 1fr;
		max-width: 90vw;
	}
	#head2{
		grid-column-start: 1;
		grid-column-end: 4;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.menu_type_1{
		display: flex;
		justify-content: space-between;
		align-items:center;
		background-color:rgb(66, 5, 99);
	
	}
	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
	}

	.navigation a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90px;
		height: 60px;
		text-decoration: none;
		color:wheat;
	}
	.navigation a:hover {
		background-color: #d8d0f4;
		color: #333;
		font-weight: 700;
	}
	/* End of navigation section */
	
	.img_container{
		width: 26vw; /* Defina a largura desejada */
		height: 26vw; /* Defina a altura desejada */
	}
}

