*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto', sans-serif;
}
header, main, footer{
    max-width: 640px;
    /* A linha de código a seguir posiciona as margens superior e inferior
    igual a 1rem que é o tamanho da fonte raiz e as margens direita e esquerda
    automaticamente de igual tamanho, tamanho que sobrar. */
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Borda preta com 10% de opacidade */
    padding: 1rem;
    background-color:rgb(2, 125, 201);
}
main{
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}
section{
    padding: 1rem;
    background-color: azure;
}